{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/bootstrap(1).css" %}">
<link rel="stylesheet" href="{% static "CSS/crearEvento.css" %}">
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 44.8rem;  background-color: rgb(214, 213, 213);">
        <div class="pagina container-fluid">
            <div class="carta">
                <div class="titulo bg-success">
                    <h1>Nuevo Evento</h1>
                </div>
                <div class="row parteUno">
                    <div class="col-6 seleccion">
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="text" placeholder="Titulo del Evento">
                        </div>
                        
                        <div class="dropdown d-flex justify-content-center align-items-center">
                            <button class=" selec dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            seleccionar actividad
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="bloque d-flex justify-content-center align-items-center">
                            <input type="file" placeholder="cargar imagen de portada">
                        </div>
                    </div>
                </div>
                <div class="parteDos" style="margin-top: 20px;">
                    <div class="col-6 fecha">
                        <div class="tiempo">
                            <input type="date">
                        </div>
                        <div class="hora">
                            <input type="time">
                        </div>
                    </div>
                    <div class="col-6 descripcion d-flex justify-content-center align-items-center">
                        <textarea placeholder="descripcion" name="" id="" cols="3" rows="10"></textarea>
                    </div>
                </div>
                <div class="parteTres">
                    <div class="col-6 lugar d-flex justify-content-center align-items-center">
                        <input type="text" placeholder="Direccion">
                        <button class="btn btn-success">seleccionar ubicacion</button>
                    </div>
                    <div class="col-6 contacto">
                        <input type="number" placeholder="Contacto">
                    </div>
                </div>
                <div class="parteCuatro">
                    <div class="col-6 mapa">
            
                        <p>Marca el mapa </p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31876.698412363232!2d-75.32120338916013!3d2.934280800000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3b75e5f5cf0b23%3A0xbc8b39eb18d117e2!2scentro%20de%20la%20industria%2C%20la%20empresa%20y%20los%20servicios!5e0!3m2!1ses!2sco!4v1684033861851!5m2!1ses!2sco"
                            class="rounded-2" width="320px" height="150px" style="border:1px solid;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                
                    </div>
                    <div class="col-6 publicidad">
                        <img src="{% static "img/Penguins.jpg" %}"  alt="">
                    </div>
                </div>
                <div class="crearEvento d-flex justify-content-center align-items-center">
                    <button class="btn btn-success">Crear Evento</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>