{% if user.is_authenticated %}

<form method="post">
    {% csrf_token %}
    <div class="inputRegistro">
        <div class="nombreRegistro d-block ">
           
            {{ form.usuario }}
        </div>
        <div class="correoRegistro d-block">
    
            {{ form.correo }}
        </div>
        <div class="telefonoRegistro   ">
         
            {{ form.telefono }}
        </div>
        <div class="contraseñaRegistro   ">
          
            {% comment %} {{ form.password }} {% endcomment %}
        </div>
      
    </div>
    <div class="botonRegistrarse    ">
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
    
</form>

{% endif %}



