{% if user.is_authenticated %}

<form method="post">
    {% csrf_token %}
    <div class="inputRegistro">
        <div class="nombreRegistro d-block ">
           
            {{ form.usuario }}
        </div>
        <div class="correoRegistro d-block">
    
            {{ form.correo }}
        </div>
        <div class="telefonoRegistro   ">
         
            {{ form.telefono }}
        </div>
        <div class="contraseñaRegistro   ">
            {% if form.nombreempresa.value %}
            {{ form.nombreempresa }}
        {% endif %}
        
        {% if form.direccion.value %}
            {{ form.direccion }}
        {% endif %}
            {% comment %} {{ form.password }} {% endcomment %}
        </div>

        <h1>actualiza tu descripcion</h1>
            {{ form.Descripcion }}
      
    </div>
    <div class="botonRegistrarse    ">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>
    
</form>

{% endif %}



