{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Principal</title>
  <!-- <link rel="stylesheet" href="CSS/bootstrap(1).css"/> -->
  <link rel="stylesheet" href="{% static "CSS/bootstrap.css" %}" />
  <link rel="stylesheet" href="{% static "CSS/style.css" %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <link rel="stylesheet" href="CSS/stilos.css"> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="g-0">
  <div class="container-fluid  index1 "
style="background-color: #cbe9d7; z-index: -3; ">

    <div class="row encabezado">
      <div class="col-3 ms-5 mt-3">
        <img id="logo" src="static/IMG/WhatsApp_Image_2023-04-30_at_9.22.07_PM-removebg-preview.png" alt="">
      </div>
      <div class="col-3 d-md-none">
        <div class="menu-toggle" id="menu-toggle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

      <div class="menu-items col-5">
        <a href="#eventos" class="scroll">
          <h3 style="color: #365C45;">Eventos</h3>
        </a>
        <a href="#nosotros" class="scroll">
          <h3 style="color: #365C45;">Nosotros</h3>
        </a>
        <a href="#contactanos">
          <h3 style="color: #365C45;">Contactanos</h3>

        </a>
        {% if user.is_authenticated %}
        <ul class="sidebar-nav btnIniciarS">

          ...
          {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="btn btn-success m-1">
                <a href="{% url 'logout'%}?next={{request.path}}" style="font-size: 1rem;">Cerrar sesión</a>
              </button>
              <button type="button" class="btn btn-success m-1">
                <!-- <i class="fa-solid fa-eye me-3" style="color: #ffffff; font-size: 1.5rem;"></i> -->
                <a href="{% url 'agregarRepresentante'%}" style="font-size: 1rem;">Agregar Representante</a>
              </button>
            </div>
          </li>
          
          {% else %}
          <li><a href="{% url 'login'%}">Iniciar sesión</a></li>
          {% endif %}
        </ul>
        {% else %}
        <a href="{% url "login" %}" type="button" class="btn btn-success btnIniciarS">Iniciar
          Sesion</a>
        {% endif %}

      </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row principal">
      <div class="col-6">
        <h2 style="color: #365C45;">Nos encargamos de la
          <br>
          gestión de tus
          <br>
          eventos deportivos
          <br>
          para que tú te
          <br>
          concentres en ganar.
        </h2>

      </div>
      <div class="col-6">
        <a href="{% url "CreateEvent" %}">
          <img class="imgP" src="{% static "IMG/CorredorSaliendo.png" %}" alt="">
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-light btn-lg me-3 ">
        <i class="fas fa-solid fa-trophy me-3" style="color: #179631; font-size: 1.5rem;"></i>
        <a href="{% url "CreateEvent" %}" style="color: #179631; font-size: 1.5rem;">Crear Un Evento</a>
      </button>
      <button type="button" class="btn btn-success btn-lg me-3">
        <!-- <i class="fa-solid fa-eye me-3" style="color: #ffffff; font-size: 1.5rem;"></i> -->
        <a href="{% url 'mostrarEventos'%}" style="color: #ffffff; font-size: 1.5rem;">Ver Eventos</a>
      </button>
    </div>
    
    {% else %}
    <div class="row principal">
      <div class="col-6">
        <h2 style="color: #365C45;">Nos encargamos de la
          <br>
          gestión de tus
          <br>
          eventos deportivos
          <br>
          para que tú te
          <br>
          concentres en ganar.
        </h2>

        
      </div>
      <div class="col-6">
        <a href="{% url "login" %}?">
          <img class="imgP"  src="{% static "IMG/corredorIniciando.png" %}" alt="" >
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-light btn-lg me-3">
        <i class="fas fa-solid fa-trophy me-3" style="color: #179631; font-size: 1.5rem;"></i>
        <a href="{% url "login" %}" style="color: #179631; font-size: 1.5rem;">Crear Un Evento</a>
      </button>
      <button type="button" class="btn btn-success btn-lg me-3">
        <!-- <i class="fa-solid fa-eye me-3" style="color: #ffffff; font-size: 1.5rem;"></i> -->
        <a href="{% url 'mostrarEventos'%}" style="color: #ffffff; font-size: 1.5rem;">Ver Eventos</a>
      </button>
    </div>
    {% endif %}
  </div>
  </div>
    
  <!-- Segunda parte de la vista -->
  <div class="p-3 d-flex justify-content-center align-items-center" id="eventos" style="background-color: rgb(214, 213, 213);">
    <a class="btn btn-success" href="{% url 'mostrarEventos'%}">VER EVENTOS</a>
  </div>

  <!-- Tercera parte de la vista -->
  <section class="container-fluid p-4" id="nosotros"
    style="background-color: #cbe9d7; z-index: -3;">
    <div>
      <div class="row announcement">
        <div class="col-md-1"></div>
        <div class="col-md-3 mt-3">
          <img src="{%static "img/logo-sena-verde-png-sin-fondo.png" %}" width="300" class="m-4 mx-auto d-block">
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <h5 class="text-center" style="color: #365C45;">Somos un equipo de aprendices del SENA enfocado en aplicar nuestros conocimientos para resolver problemas, mejorando procesos y asegurando la satisfacción del cliente y la calidad de nuestros servicios.
          </h5>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/IMG/Lighthouse.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/IMG/Penguins.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/IMG/Captura.PNG" class="d-block w-100" alt="..." height="356rem">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </section>


  <!-- Cuarta parte de la vista -->
  <section id="contactanos" class="container-fluid" style="background-color: rgb(214, 213, 213); padding: 5px;">
    <div class="row container-fluid">
      <div class="col-lg-5">
        <h3 style="color: #365C45;">___________________________________________________</h3>
      </div>
      <div class="col-lg-2 col-md-12 p-2 d-flex justify-content-center align-items-center">
          <img src="{% static "img/Facebook_Logo_(2019).png" %}" alt="" style="width: 30px; margin: 4px;">
          <img src="{% static "img/png-transparent-instagram-logo-instagram-facebook-inc-youtube-organization-instagram-removebg-preview.png"%}" alt="" style="width: 35px; margin: 4px; margin-left: 50px;">
          <img src="{% static "img/png-transparent-twitter-logo-social-media-iphone-organization-logo-twitter-computer-network-leaf-media-removebg-preview.png"%}" alt="" style="width: 30px; margin: 4px; margin-left: 50px;">
        </div>
      <div class="col-lg-5">
        <h3 style="color: #365C45;">_____________________________________________________</h3>
      </div>
    </div> 
    <div class="row container-fluid p-2">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <h5 style="color: #365C45;">contactoparchecorpgmail.com</h5>
      </div>
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <img src="{% static "img/logo.png" %}" alt="" class="img-fluid" style="max-width: 55%;">
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <h5 style="color: #365C45;">&copy; 2023 Parche. Todos los derechos reservados</h5>
      </div>
    </div>
  </section>
  
 <!-- <div class="row container-fluid">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-12 text-center">
        <img src="{% static "img/logo.png" %}" alt="" class="img-fluid" style="max-width: 40%;">
      </div>
      <div class="col-md-5 col-sm-12 text-center">
        <div class="">
          <h5>Contactanos</h5>
          <img src="{% static "img/Facebook_Logo_(2019).png" %}" alt="" style="width: 30px; margin: 4px;">
          <img src="{% static "img/png-transparent-instagram-logo-instagram-facebook-inc-youtube-organization-instagram-removebg-preview.png"%}" alt="" style="width: 30px; margin: 4px;">
          <img src="{% static "img/png-transparent-twitter-logo-social-media-iphone-organization-logo-twitter-computer-network-leaf-media-removebg-preview.png"%}" alt="" style="width: 30px; margin: 4px;">
        </div>
        <h5 class="mt-2">contactoparchecorpgmail.com</h5>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="text-center">&copy; 2023 Parche. Todos los derechos reservados</div> -->



</body>

</html>


<script>
  const scrollLinks = document.querySelectorAll('.scroll');

  scrollLinks.forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();

      const targetId = link.getAttribute('href');
      document.querySelector(targetId).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });

  document.getElementById('menu-toggle').addEventListener('click', function () {
    document.querySelector('.menu-items').classList.toggle('active');
  });

</script>