{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "CSS/bootstrap(1).css" %}">
    <link rel="stylesheet" href="{% static "CSS/registroEmpresa.css" %}">
</head>

<body>

    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 44.8rem;  background-color: rgb(214, 213, 213);"
        class="container-fluid">
            <div class="row cartaR">
            <div class="palabraRegistro">
            <h1 class="pregistro">REGISTRO</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="inputRegistro">
                <div class="nombreRegistro">
                    
                    {{ form.usuario }}
                </div>
                
                <!-- <div class="usuarioRegistro">
                    <input type="text" placeholder="Nombre el encargado">
                </div> -->
            
                <div class="correoRegistro">
                    {{ form.correo }}
                </div>
            
                <div class="contraseñaRegistro">
                  {{form.direccion}}
                </div>
            
                <div class="contraseñaRegistro">
                    {{ form.password2 }}
                </div>
                <div class="contraseñaRegistro">
                    {{ form.password1 }}
                </div>
               
               
                <div class="numeroRegistro">
                    {{ form.telefono }}
                </div>
                
                <div class="numeroRegistro">
                    {{ form.nombreempresa }}
                </div>
            </div>
            
            {{ document.documentocol }}
            <button id="mi-boton" type="button" class="btn btn-success">Cargar Documento de Identidad</button>
            
            <input type="file" id="input-file" style="display: none">
            <script>
              let $miBoton = document.getElementById('mi-boton');
              let $inputFile = document.getElementById('input-file');
            
              $miBoton.addEventListener('click', (e) => {
                $inputFile.click();
              });
            
              $inputFile.addEventListener('change', (e) => {
                console.log(e.target.files[0].name);
                $miBoton.innerHTML = e.target.files[0].name;
              });
            </script>
            
            <div class="botonRegistrarse">
                
            <button type="submit" class="btn btn-success">Registrate</button>
            </div>
            
            <div class="cuentaExistente">
            <a href="{% url "login" %}">¿Ya tienes una cuenta creada?</a>
            </div>
            </form>
            </div>
            </div>
    </div>
    
</body>
</html>